header{
    margin-left:20px;
    padding:30px;
    
    div{
display: flex;
justify-content: space-between;
h2{
    font-weight: bold;
}
    nav{
    ul{display:flex;
        list-style:none;
        li{
                padding:7px;
            a{
                text-decoration: none;
                color:black;
            }
        }
    }}


}}