/*colores*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 70px;
  letter-spacing: 10px;
}

span {
  background: #92f7f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, #92f7f2), color-stop(56%, white), color-stop(69%, white));
  background: linear-gradient(180deg, #92f7f2 48%, white 56%, white 69%);
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
  -webkit-box-shadow: -5px -1px #92f7f2;
          box-shadow: -5px -1px #92f7f2;
  text-align: center;
  padding-top: 11px;
  margin-bottom: 10px;
}

.iconw {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: -5px -1px #92f7f2;
          box-shadow: -5px -1px #92f7f2;
  text-align: center;
}

header {
  margin-left: 20px;
  padding: 30px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div h2 {
  font-weight: bold;
}

header div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header div nav ul li {
  padding: 7px;
}

header div nav ul li a {
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section1 div h1 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 60px;
}

main .section1 div p {
  color: #8b8b8b;
  font-size: 18px;
  margin-top: 30px;
  line-height: 20px;
}

main .section1 div ul {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main .section1 div ul li {
  height: 60px;
  width: 100px;
  border-radius: 10px;
  background-color: #03faee;
  padding: 19px;
  border-style: none;
  cursor: pointer;
  text-align: center;
  color: black;
}

main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section2 div {
  background-color: #8b8b8b18;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  max-width: 300px;
}

main .section2 div p {
  color: #8b8b8b;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  main .section2 div h1 {
    font-size: 12px;
  }
  main .section2 div p {
    font-size: 12px;
  }
  main div {
    width: 40%;
  }
  main div img {
    width: 60%;
  }
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer div img {
  margin-right: 20px;
  width: 15px;
}
/*# sourceMappingURL=style.css.map */