:root {
    --walk-speed: 600ms;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #fff
  }
  
  svg {
    display: block;
    width: 90vmin;
    height: 90vmin;
  }
  
  .stroke {
    stroke: #fff;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .shape {
    fill: rgb(242, 255, 65);
    stroke: none;
  }
  
  .eye .shape {
    fill: #25c;
    stroke: none;
  }
  
  .eye .pupil {
    fill: #000;
    stroke: none;
  }
  
  .eye .pupil__reflect {
    fill: #fff;
    stroke: none;
  }
  
  .leg--front-left {
    transform-origin: 45% 66%;
    animation: leg-anim ease-in-out infinite alternate var(--walk-speed);
  }
  
  .leg--front-right {
    transform-origin: 53.3% 72.5%;
    animation: leg-anim ease-in-out infinite alternate var(--walk-speed);
    animation-delay: calc(-.75 * var(--walk-speed));
  }
  
  .leg--back-left {
    transform-origin: 73.3% 71.67%;
    animation: leg-anim ease-in-out infinite alternate var(--walk-speed);
  }
  
  .leg--back-right {
    transform-origin: 80% 72.5%;
    animation: leg-anim ease-in-out infinite alternate var(--walk-speed);
    animation-delay: calc(-.75 * var(--walk-speed));
  }
  
  .nose {
    transform-origin: 41.67% 33.33%;
    animation: nose-anim ease-in-out infinite alternate var(--walk-speed);
    animation-delay: calc(-.75 * var(--walk-speed));
  }
  
  .ear {
    transform-origin: 50% 18.33%;
    animation: ear-anim ease-in-out infinite alternate calc(var(--walk-speed) * 1);
    animation-delay: calc(-.25 * var(--walk-speed));
  }
  
  .tail {
    transform-origin: 93.125% 45.4167%;
    animation: tail-anim ease-in-out infinite alternate var(--walk-speed);
    animation-delay: calc(-.25 * var(--walk-speed));
  }
  
  @keyframes tail-anim {
    0% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
  }
  
  @keyframes leg-anim {
    0% { transform: rotate(-7deg); }
    100% { transform: rotate(7deg); }
  }
  
  @keyframes nose-anim {
    0% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
  }
  
  @keyframes ear-anim {
    0% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
  }
 