@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
}
/*Header*/
.head1{
    background-color: #1CD1B0;
    padding-top: 10px; 
    height:38px;
}
.head1 p{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    margin-left: 10px;
}
header{
    position: sticky;
    top:0;
    z-index: 999;
    background-color: #00669F;
    height:101px;
    padding-top: 28px;
    box-shadow: 0px 1px 4px 7px rgba(0, 0, 0, 0.25);
}
.textHeader {
    
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}
/*ACA EMPIEZA EL MAIN*/

.container{
    display: flex;
    justify-content: space-between;
}
.cardBatman{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoCardBatman.png);
    background-repeat: no-repeat;
    background-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
    margin-left: 12px;
    box-shadow: 0px 2px 6px 0px grey;
    box-shadow: 0px 1px 4px 7px rgba(0, 0, 0, 0.25);
}

.foto{
    border-radius: 60px;
    position: relative;
    left: 90px;
    top:128px
    
}
.textop{
    display:flex;
    flex-direction: column;
    margin-top: 140px;
    font-size: 16px;
    font-weight: 400;
}
.textop>h3{
    font-size: 30px;
    line-height: 22px;
    text-align:center;
}
.textop p{
    color: #333333;
    text-align:lcenter;

}

.cardHarley{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoHarley.png);
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
    margin-left: 12px;
    box-shadow: 0px 2px 6px 0px grey;   
    box-shadow: 0px 1px 4px 7px rgba(0, 0, 0, 0.25);
    }
.cardSuperman{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoSuperman.png);
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
    margin-left: 12px;
    box-shadow: 0px 2px 6px 0px grey;
    box-shadow: 0px 1px 4px 7px rgba(0, 0, 0, 0.25);
    background-position:top;
    background-size: 19.7em;
}
.fotoo{
    border-radius: 50%;
    height: 122px ;
    position: relative;
    top: 119px;
    left: 91px;
}
.cardMujer{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 527px;
    background-color: #F3F3F3;
    background-image: url(../img/fondoMujerMaravilla.png);
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
    margin-left: 12px;
    box-shadow: 0px 2px 6px 0px grey;
    box-shadow: 0px 1px 4px 7px rgba(0, 0, 0, 0.25);
    background-position:top;
    background-size: 19.7em;
}
input[type=submit] {
    background-color: #00669F;
    color: white;
    width: 40%;
    height: 48px;
    margin-top: 25px;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 64%);}

    .textop a{
        position: absolute;
        left: 82px;
        height: 48.52px;
        top: 200px;
        padding-top: 15px;
        padding-left: 32px;
        padding-right: 35px;
        color: white;
        text-decoration: none;
        text-align: center;
        background-color: #00669F;
        font-size: 15px; 
    }


/*ACA EMPIEZA EL FOOTER*/
footer {
    background-color: #00669F;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 100%;
}









































